<div class="content-box">
    <article class="article">
        <header><h2>Оборудование</h2></header>
        <div id="equipment">
            <a href="data/images/about/studio-equipment_1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-equipment_1.jpg"></div>
            </a>
            <a href="data/images/about/studio-equipment_2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-equipment_2.jpg"></div>
            </a>
            <a href="data/images/about/studio-equipment_3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-equipment_3.jpg"></div>
            </a>
            <a href="data/images/about/studio-equipment_4.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-equipment_4.jpg"></div>
            </a>
            <a href="data/images/about/studio-equipment_5.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-equipment_5.jpg"></div>
            </a>
            <a href="data/images/about/studio-equipment_6.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-equipment_6.jpg"></div>
            </a>
        </div>
        <p>
            Студия звукозаписи работает в различных стилях и направлениях с использованием современного оборудования и инструментов.
        </p>
    </article>
    <article class="article">
        <header><h2>Помещение</h2></header>
        <div id="room">
            <a href="data/images/about/studio-room_1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-room_1.jpg"></div>
            </a>
            <a href="data/images/about/studio-room_2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-room_2.jpg"></div>
            </a>
            <a href="data/images/about/studio-room_3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-room_3.jpg"></div>
            </a>
            <a href="data/images/about/studio-room_4.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-room_4.jpg"></div>
            </a>
        </div>
        <p>
            Хорошая акустика, комфортная, домашняя обстановка помогут Вам не только плодотворно поработать, но и хорошо отдохнуть!
        </p>
    </article>
    <article class="article">
        <header><h2>Люди</h2></header>
        <div id="people">
            <a href="data/images/about/studio-people_1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-people_1.jpg"></div>
            </a>
            <a href="data/images/about/studio-people_2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-people_2.jpg"></div>
            </a>
            <a href="data/images/about/studio-people_3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-people_3.jpg"></div>
            </a>
            <a href="data/images/about/studio-people_4.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-people_4.jpg"></div>
            </a>
            <a href="data/images/about/studio-people_5.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/about/studio-people_5.jpg"></div>
            </a>
        </div>
        <p>
            Для достижения максимально качественных результатов звукозапись выполняется высококвалифицированными специалистами с учетом всех Ваших пожеланий.
        </p>
        <br>
        Наши услуги:
        <ul>
            <li> Профессиональная запись голоса и музыкальных инструментов</li>
            <li> Сведение</li>
            <li>Мастеринг</li>
            <li>Аранжировка под заказ (в любом стиле)</li>
            <li> Создание аудио рекламы - радио ролики, 
                озвучка фильмов, джинглы для радио,  заставки для телевидения, музыка для рекламы, озвучивание рекламы и т.д.
            </li>
            <li>Услуги профессиональных дикторов</li>
            <li>Аудио -поздравления, гимны, песни под заказ.</li>
            <li>Профессиональная видео и фото съёмка</li>
        </ul>
    </article>
</div>