<div class="content-box">
    <article class="article">
        <br />
        <header>
            <h2>
                Vostok Records —  черкасская студия звукозаписи, предоставляющая следующие услуги:
            </h2>
        </header>
        <br />
        <ul>
            <li> Профессиональная запись голоса и музыкальных инструментов</li>
            <li> Сведение</li>
            <li>Мастеринг</li>
            <li>Аранжировка под заказ (в любом стиле)</li>
            <li> Аудио - радио ролики, 
                озвучка фильмов, джинглы для радио,  заставки для телевидения, музыка для рекламы и т.д.
            </li>
            <li>Услуги профессиональных дикторов</li>
            <li>Профессиональная видео и фото съёмка</li>
        </ul>
        <br />
        <header><h2>Оборудование</h2></header>
        <div id="equipment">
            <a href="data/images/equipment-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-1.jpg"></div>
            </a>
            <a href="data/images/equipment-2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-2.jpg"></div>
            </a>
            <a href="data/images/equipment-3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-3.jpg"></div>
            </a>
            <a href="data/images/equipment-4.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-4.png"></div>
            </a>
            <a href="data/images/equipment-5.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-5.jpg"></div>
            </a>
            <a href="data/images/equipment-6.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-6.jpg"></div>
            </a>
            <a href="data/images/equipment-7.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-7.jpg"></div>
            </a>
        </div>
        <p>
            Студия звукозаписи работает в различных стилях и направлениях с использованием современного оборудования и инструментов.
        </p>
    </article>
    <article class="article">
        <header><h2>Помещение</h2></header>
        <div id="room">
            <a href="data/images/studio.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio.jpg"></div>
            </a>
            <a href="data/images/studio-1.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio-1.png"></div>
            </a>
            <a href="data/images/studio-2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio-2.jpg"></div>
            </a>
            <a href="data/images/studio-3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio-3.jpg"></div>
            </a>
        </div>
        <p>
            Хорошая акустика, комфортная, домашняя обстановка помогут Вам не только плодотворно поработать, но и хорошо отдохнуть!
        </p>
    </article>
</div>