<div class="content-box contacts">
    <aside class="aside">
        <dl class="info">
            <dt>Адрес:</dt>
            <dd>Черкассы, Украины.
                бульвар Шевченка, 208/1 ТРЦ Любава</dd>
            <dt class="phone"></dt>
            <dd>+38-093-604-473-8</dd>
            <dt class="phone"></dt>
            <dd>+38-096-980-573-8</dd>
            <dt class="email"></dt>
            <dd><a href="mailto:email@yourdomain.com" target="_blank">email@yourdomain.com</a></dd>
            <dt class="skype"></dt>
            <dd><a href="skype:mangol.dima?chat">mangol.dima</a></dd>
            <dt class="vk"></dt>
            <dd><a href="https://vk.com/vostok_records" target="_blank">vostok_records</a></dd>
            <dt class="fb"></dt>
            <dd><a href="https://www.facebook.com/VostokRecords1/" target="_blank">VostokRecords1</a></dd>
            <dt class="inst"></dt>
            <dd><a href="https://www.instagram.com/vostok_rec/" target="_blank">vostok_rec</a></dd>
        </dl>
        <p>
            Звукозапись возможна в любое удобное для Вас время. Мы гарантируем высокое качество записи, индивидуальный подход к каждому клиенту.
        </p>
    </aside>
    <div class="google-maps">
        <iframe src="https://snazzymaps.com/embed/69102" width="425" height="350" style="border:none;"></iframe>
    </div>
</div>