<a class="logo" href="#">
    <span>ВостокЗапись - студия звукозаписи</span>
    <img alt="VostokRecords" class="logo-img" src="./img/logo.png">
</a>
<ul class="social">
    <li>
        <a title="Vkontakte" target="_blank" class="icon-vkontakte" href="https://vk.com/vostok_records"></a>
    </li>
    <li>
        <a title="Facebook" target="_blank" class="icon-facebook-squared" href="https://www.facebook.com/VostokRecords1/"></a>
    </li>
    <li>
        <a title="Instagram" target="_blank" class="icon-instagram" href="https://www.instagram.com/vostok_rec/"></a>
    </li>
    <li>
        <a title="Youtube" target="_blank" class="icon-youtube" href="https://www.youtube.com/channel/UCinMzFk4i2jlRNc_EDsy-dA"></a>
    </li>
</ul>
<ul class="tiny_nav">
    <li><a class="nav-about" href="#about">О Нас</a></li>
    <li><a class="nav-contacts" href="#contacts">Контакты</a>
        {% if template != 'main' %}
            <span class="more"></span>
        {% endif %}
    </li>
</ul>
<div class="nav_block">
    <div class="icon-menu"></div>
    {% include 'main_nav.html.twig' %}
</div>
<h1 class="name_page">{{ namePage }}</h1>