<ul class="nav">
    <li><a class="nav-production" href="#production">Работы</a></li>
    <li><a class="nav-instrumental" href="#instrumental">Минусовки</a></li>
    <li><a class="nav-speaker" href="#speaker">Дикторы</a></li>
    <li><a class="nav-voiceVideo" href="#voiceVideo">Галерея</a></li>
    <li><a class="nav-audioClips" href="#audioClips">Контакты</a></li>
    <li><a class="nav-answerPhone" href="#priceList">Услуги и цены</a></li>
</ul>