<div class="nav_block">
    <div class="icon-menu rotate-180"></div>
    <ul class="nav">
        <li><a href="#productions">Работы</a></li>
        <li><a href="#instrumentals">Минусовки</a></li>
        <li><a href="#speakers">Дикторы</a></li>
        <li><a href="#voice-video">Галерея</a></li>
        <li><a href="#contacts">Контакты</a></li>
        <li><a href="#priceList">Услуги и цены</a></li>
    </ul>
</div>