<section class="content-box">
    <article class="article">
        <header><h2>Нашы цены</h2></header>
        <br />
        <br />
        <table class="table-container">
            <thead>
            <tr>
                <th><h1>Услуга</h1></th>
                <th><h1>Цена</h1></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Запись</td>
                <td>
                    100 грн./час
                </td>
            </tr>
            <tr>
                <td>
                    Вокальный трек
                    <br />
                    (сведение, мастеринг)
                </td>
                <td>от 300 грн</td>
            </tr>
            <tr>
                <td>
                    Rap/Trap/etc.
                    <br>
                    (сведение, мастеринг)
                </td>
                <td>от 300 грн</td>
            </tr>
            <tr>
                <td>
                    Музыкальные Инструменты
                    <br />
                    (сведение, мастеринг)
                </td>
                <td>от 100 грн (за инструмент)</td>
            </tr>
            <tr>
                <td>
                    Корректировка вокала/тюн
                </td>
                <td>от 100 грн</td>
            </tr>
            <tr>
                <td>
                    Аранжировка под заказ
                </td>
                <td>от 2000 грн</td>
            </tr>
            <tr>
                <td>
                    Rap/Trap минус под заказ
                </td>
                <td>от 500 грн</td>
            </tr>
            <tr>
                <td>
                    Дикторская начитка
                </td>
                <td>от 300 грн/ролик</td>
            </tr>
            </tbody>
        </table>
    </article>
</section>