<section class="content-box">
    <article class="article">
        <header><h2>Нашы цены</h2></header>
        <br />
        <table class="container">
            <thead>
            <tr>
                <th><h1>Услуга</h1></th>
                <th><h1>Цена</h1></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Минусовка</td>
                <td>500 usd</td>
            </tr>
            <tr>
                <td>Минусовка</td>
                <td>500 usd</td>
            </tr>
            <tr>
                <td>Минусовка</td>
                <td>500 usd</td>
            </tr>
            <tr>
                <td>Минусовка</td>
                <td>500 usd</td>
            </tr>
            <tr>
                <td>Минусовка</td>
                <td>500 usd</td>
            </tr>
            </tbody>
        </table>
    </article>
</section>