<div class="content-box">
    <article class="article">
        <header><h2 class="h2">Дикторские голоса</h2></header>
        <div id="ubaplayer"></div>
        <br />
        Предоставляем профессиональные услуги дикторов:
        <ul>
            <li>Озвучивание любых текстов</li>
            <li>закадровый голос</li>
            <li>телефонные приветствия</li>
            <li>рекламные ролики</li>
            <li>аудио-книги</li>
            <li>аудио открытки, (поздравления)</li>
            <li>видео-презентации и т.д</li>
        </ul>
{#        <ul class="ubaplayer-controls">
            <li><a href="data/media/bromgeksin.mp3" class="ubaplayer-button">Ролик 1 - Описание 1</a></li>
            <li><a href="data/media/grabli_buglakov.mp3" class="ubaplayer-button">Ролик 2 - Описание 2</a></li>
            <li><a href="data/media/hankipanki.mp3" class="ubaplayer-button">Ролик 3 - Описание 3</a></li>
            <li><a href="data/media/kentatsu.mp3" class="ubaplayer-button">Ролик 4 - Описание 4</a></li>
            <li><a href="data/media/porosyatko.mp3" class="ubaplayer-button">Ролик 5 - Описание 5</a></li>
            <li><a href="data/media/semechki_vinnipux.mp3" class="ubaplayer-button">Ролик 6 - Описание 6</a></li>
            <li><a href="data/media/zlatogor.mp3" class="ubaplayer-button">Ролик 7 - Описание 7</a></li>
        </ul>#}
        <div class="speaker--data">
            <div id="speaker-slider">
                <div class="slide">
                    <iframe class="soundcloud" width="100%" color="#FFFFFF" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438295332&color=%230c0c08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438293970&color=%230c0c08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438293088&color=%230c0c08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/302337312&color=%230d0d06&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/302336986&color=%230d0d06&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/192974570&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438299826&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438302403&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438302763&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438303057&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438304905&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438305919&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
            </div>
        </div>
    </article>
</div>