<div class="content-box">
    <article class="article">
        <header><h2>Дикторские голоса</h2></header>
        <div id="ubaplayer"></div>
        <br />
        Предоставляем профессиональные услуги дикторов:
        <ul>
            <li>Озвучивание любых текстов</li>
            <li>закадровый голос</li>
            <li>телефонные приветствия</li>
            <li>рекламные ролики</li>
            <li>аудио-книги</li>
            <li>аудио открытки, (поздравления)</li>
            <li>видео-презентации и т.д</li>
        </ul>
        <ul class="ubaplayer-controls">
            <li><a href="data/media/bromgeksin.mp3" class="ubaplayer-button">Ролик 1 - Описание 1</a></li>
            <li><a href="data/media/grabli_buglakov.mp3" class="ubaplayer-button">Ролик 2 - Описание 2</a></li>
            <li><a href="data/media/hankipanki.mp3" class="ubaplayer-button">Ролик 3 - Описание 3</a></li>
            <li><a href="data/media/kentatsu.mp3" class="ubaplayer-button">Ролик 4 - Описание 4</a></li>
            <li><a href="data/media/porosyatko.mp3" class="ubaplayer-button">Ролик 5 - Описание 5</a></li>
            <li><a href="data/media/semechki_vinnipux.mp3" class="ubaplayer-button">Ролик 6 - Описание 6</a></li>
            <li><a href="data/media/zlatogor.mp3" class="ubaplayer-button">Ролик 7 - Описание 7</a></li>
        </ul>
    </article>
</div>