<div class="content-box">
    <article class="article">
        <header><h2 class="h2">Дикторские голоса</h2></header>
        <div id="ubaplayer"></div>
        <br />
        Предоставляем профессиональные услуги дикторов:
        <ul>
            <li>Озвучивание любых текстов</li>
            <li>закадровый голос</li>
            <li>телефонные приветствия</li>
            <li>рекламные ролики</li>
            <li>аудио-книги</li>
            <li>аудио открытки, (поздравления)</li>
            <li>видео-презентации и т.д</li>
        </ul>~
        <div class="speaker--data">
            <div id="speaker-slider">
                <div class="slide">
                    <iframe class="soundcloud" width="100%" color="#FFFFFF" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438295332&color=%230c0c08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438293970&color=%230c0c08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438293088&color=%230c0c08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/302337312&color=%230d0d06&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/302336986&color=%230d0d06&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/192974570&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438299826&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438302403&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438302763&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438303057&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438304905&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
                <div class="slide">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no"  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/438305919&color=%230c0d08&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                </div>
            </div>
        </div>
    </article>
</div>