<section class="content-box">
    <article class="article">
        <header><h2>Галерея</h2></header>
        <br />
        <br />
        <div id="gallery">
            <a href="data/images/equipment-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-1.jpg"></div>
            </a>
            <a href="data/images/equipment-2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-2.jpg"></div>
            </a>
            <a href="data/images/equipment-3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-3.jpg"></div>
            </a>
            <a href="data/images/equipment-4.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-4.png"></div>
            </a>
            <a href="data/images/equipment-5.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-5.jpg"></div>
            </a>
            <a href="data/images/equipment-6.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-6.jpg"></div>
            </a>
            <a href="data/images/equipment-7.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/equipment-7.jpg"></div>
            </a>
            <a href="data/images/studio.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio.jpg"></div>
            </a>
            <a href="data/images/studio-1.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio-1.png"></div>
            </a>
            <a href="data/images/studio-2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio-2.jpg"></div>
            </a>
            <a href="data/images/studio-3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/studio-3.jpg"></div>
            </a>
            </a>
            <a href="data/images/people.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/people.jpg"></div>
            </a>
            <a href="data/images/people-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/people-1.jpg"></div>
            </a>
        </div>
    </article>
    <br />
    <article class="article">
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dBCxE6UW8YQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </article>
</section>