<section class="content-box">
    <article class="article">
        <header><h2>Галерея</h2></header>
        <br />
        <br />
        <div id="gallery">
            <a href="data/images/gallery/equipment-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/equipment-1.jpg"></div>
            </a>
            <a href="data/images/gallery/equipment-2.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/equipment-2.jpg"></div>
            </a>
            <a href="data/images/gallery/equipment-3.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/equipment-3.jpg"></div>
            </a>
            <a href="data/images/gallery/equipment-4.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/equipment-4.png"></div>
            </a>
            <a href="data/images/gallery/equipment-5.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/equipment-5.jpg"></div>
            </a>
            <a href="data/images/gallery/equipment-6.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/equipment-6.jpg"></div>
            </a>
            <a href="data/images/gallery/equipment-7.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/equipment-7.jpg"></div>
            </a>
            <a href="data/images/gallery/studio.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio.jpg"></div>
            </a>
            <a href="data/images/gallery/studio-1.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio-1.png"></div>
            </a>
            <a href="data/images/gallery/studio.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio.jpg"></div>
            </a>
            <a href="data/images/gallery/studio-1.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio-1.png"></div>
            </a>
            <a href="data/images/gallery/studio.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio.jpg"></div>
            </a>
            <a href="data/images/gallery/studio-1.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio-1.png"></div>
            </a>
            <a href="data/images/gallery/studio.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio.jpg"></div>
            </a>
            <a href="data/images/gallery/studio-1.png" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/studio-1.png"></div>
            </a>
            <a href="data/images/gallery/people.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people.jpg"></div>
            </a>
            <a href="data/images/gallery/people-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people-1.jpg"></div>
            </a>
            <a href="data/images/gallery/people.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people.jpg"></div>
            </a>
            <a href="data/images/gallery/people-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people-1.jpg"></div>
            </a>
            <a href="data/images/gallery/people.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people.jpg"></div>
            </a>
            <a href="data/images/gallery/people-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people-1.jpg"></div>
            </a>
            <a href="data/images/gallery/people.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people.jpg"></div>
            </a>
            <a href="data/images/gallery/people-1.jpg" data-lightbox="roadtrip">
                <div class="item"><img alt="" src="data/images/gallery/people-1.jpg"></div>
            </a>
        </div>
    </article>
    <article class="article">
        <header><h2>Наш канал на YouTube</h2></header>
        <p>
            Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы
            1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный
            H. Rackham, 1914 год.
        </p>
        <div class="video">
            <iframe src="http://player.vimeo.com/video/38839299"></iframe>
        </div>
    </article>
</section>